/*Default Styles*/
* {
  box-sizing: border-box;
}

/* Remove default bullets */
ul {
  list-style: none; /*Remove default bullets*/
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
input,
button {
  font-size: 16px;
  outline: none;
  border: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  width: 100%;
  padding: 32px;
  height: 75px;
  background-color: black;
  color: #ffff;
}

.image-logo img {
  width: 100px;
}

.nav-area {
  /* centralize the nav area inside bottom-section */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10vw;
  height: 100%;
  /* Make the nav area's width to fit the li contents */
  /*width: fit-content;*/
  text-align: center;
}

.nav-area li {
  margin: 0px 24px;
}

.nav-area li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.banner {
  height: 900px;
  width: 100%;
}
.colored-banner {
  background-image: url("../images/a.jpg");
  height: 500px;
  /* You must set a specified height */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  padding: 72px 32px;
}

.colored-banner h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 5rem;
  color: #fff;
}

.plain-banner {
  height: 400px;
  padding: 72px 32px;
  border: 1px thin black;
}

.plain-banner h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.7rem;

  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.services-advert {
  /*height: 600px;*/
  display: flex;
  justify-content: space-between;
  /*padding: 72px 32px;*/
  background-color: #fff;
  border: 1px solid black;
  letter-spacing: 2px;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.left-image div.right-text {
  justify-content: space-between;
  padding: 72px 32px;
}
.services-advert img {
  height: 300px;
  outline-style: none;
  border: none;
}

.services-advert h3 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.5);
}

div.right-text h5 {
  font-size: 1.5rem;
  text-align: justify;
}
div.right-text p {
  font-size: 1rem;
}

/*button-solid-secondary Styles*/
.button-solid-secondary {
  border-width: 2px;
  border-style: solid;
  text-transform: capitalize;
  width: fit-content;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.communication-content {
  background-image: url("../images/b.jpg");
  height: fit-content;
  /* You must set a specified height */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  padding: 72px 36px;
}

div.title {
  display: flex;
  /*padding: 72px 36px;*/
}

div.title h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: #fff;
}

div.title-text {
  display: flex;
  justify-content: space-evenly;
}
div.title-text p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.communication-content-bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 72px 36px;
}

.communication-content-bottom h3 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}

.communication-content-bottom p {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.design-container {
  display: flex;

  width: 100%;
  padding: 72px 36px;
}

.left-side {
  width: 50%;
  margin-right: 100px;
  text-align: right;
}

.right-side {
  width: 50%;
}

.design-container img {
  width: 250px;
  margin-top: 20px;
}

.left-side h1 {
  font-size: 10rem;
  color: lightblue;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.right-side h1 {
  font-size: 4rem;
  color: red;
  margin-top: 0;
}
.text-content p {
  margin: 0;
  padding: 0;
  /*margin-top: 10px;*/
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: lighter;
  color: #000000;
}

.social-media {
  margin: 0;
  padding: 0;
  padding: 72px, 32px;
  height: 600px;
  background-color: black;
  color: #fff;
}
.social-media h1 {
  font-size: 3rem;
  color: #fff;
  padding-top: 72px;
  padding-left: 36px;
}

.three-sided-column {
  display: flex;
}
.top-column {
  width: 50%;
  flex-basis: 1;
  outline-style: solid;
  border: 3px solid #fff;
}

.top-column p {
  font-size: 1.5rem;
}

.two-sided-column {
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-grow: 1;
  outline-style: solid;
  border: 3px solid #fff;
  background-color: #fff;
  column-count: 2;
  column-gap: 20px;
}

.footprints {
  height: 400px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: grey;
  font-weight: lighter;
}

.footprints h1 {
  font-size: 3rem;
}

.footprints p {
  font-size: 1rem;
}

.design-template {
  height: 800px;
  display: flex;
  column-count: 4;
  column-gap: 50px;
  column-rule: #fff;
}

.design-template img {
  height: 200px;
}

.image-set {
  display: flex;
  flex-direction: row;
  column-count: 4;
  column-gap: 50px;
  column-rule: #fff;
}

footer {
  height: 600px;
  /*background-color: gray;*/
}
.top {
  height: 300px;
  background-color: gray;
  margin: 0;
  padding: 0;
}

.top h1 {
  font-size: 4rem;
  text-align: center;
  color: lightgray;
  padding-top: 150px;
}

.footer-logo {
  display: flex;
  height: 300px;
  margin: 0;
  padding: 0;
  border: 1px solid blanchedalmond;
}
