/*Default Styles*/
* {
  box-sizing: border-box;
}

/* Remove default bullets */
ul {
  list-style: none; /*Remove default bullets*/
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  font-size: 16px;
  outline: none;
  border: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  width: 100%;
  padding: 32px;
  height: 75px;
  background-color: black;
  color: #ffff;
}

.image-logo img {
  width: 100px;
}

.nav-area {
  /*
   centralize the nav area inside bottom-section 
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10vw;
  height: 100%;
  /* Make the nav area's width to fit the li contents */
  /*width: fit-content;*/
  /* text-align: center;*/
}

.nav-area ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  flex-wrap: wrap;
  color: #fff;
}

.nav-area ul li {
  width: 20%;
}

.nav-area ul li > ul {
  display: none;
  flex-direction: column;
}

.nav-area ul li > ul li {
  display: none;
  flex-direction: column;
  width: 100%;
}

.nav-area ul li > ul {
  display: flex;
}

.nav-area a {
  text-transform: uppercase;
  display: block;

  padding: 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.nav-area a:hover {
  background-color: #fff;
  color: #000;
}

.nav-area .dropdown li > a:hover {
}

.nav-area .dropdown > a::after {
  content: "";
  padding-left: 5px;
}

.nav-area ul li :hover > ul {
  background: #000;
}

.banner {
  height: 900px;
  width: 100%;
}
.splitted-banner {
  background-image: url("../images/a.jpg");
  height: 500px;
  /* You must set a specified height */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  padding: 72px 32px;
}

.splitted-banner h2 {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  height: 500px;
}

.splitted-banner h3 {
  height: 400px;
  padding: 72px 32px;
  border: 1px thin black;
}

.splitted-banner h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.services-advert {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  border: 1px solid black;
  padding: 72px 72px;
}
.services-advert img {
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

div.left-image {
  margin-right: 50px;
}

div.right-text h1 div.right-text h3 {
  color: #2c3e50;
  font-weight: 400;
  text-align: justify;
}

div.right-text h1 {
  font-size: 2rem;
}

div.right-text h3 {
  font-size: 1rem;
}

div.right-text p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

div.right-text p a {
  color: lightblue;
  text-decoration: none;
  font-size: 0.9rem;
}

/*button-solid-secondary Styles*/
.button-solid-secondary {
  border-width: 2px;
  border-style: solid;
  text-transform: capitalize;
  width: fit-content;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.communication-content {
  background-image: url("../images/b.jpg");

  /* You must set a specified height */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  padding: 72px 36px;
}

div.title {
  color: #fff;
  padding-left: 100px;
}

div.title h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 3rem;
}

div.title-text {
  column-count: 2;
  column-gap: 100px;
  column-width: 300px;
  padding-left: 100px;
  padding-right: 100px;
}
div.title-text p {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.communication-content-bottom {
  column-count: 2;
  column-gap: 100px;
  padding: 72px 36px;
  column-width: 300px;
  padding-left: 100px;
  padding-right: 100px;
}

.communication-content-bottom h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.communication-content-bottom p {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.design-container {
  display: flex;
  width: 100%;
  padding: 72px 36px;
}

.left-side {
  width: 50%;
  margin-right: 100px;
  text-align: right;
}

.right-side {
  width: 50%;
}

.design-container img {
  width: 250px;
  margin-top: 20px;
}

.left-side h1 {
  font-size: 10rem;
  color: lightblue;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

.right-side h1 {
  font-size: 4rem;
  color: red;
  margin-bottom: 4px;
}
.text-content p {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #000000;
}

.social-media {
  margin: 0;
  padding: 0;
  padding: 72px, 32px;
  height: 600px;
  background-color: black;
  color: #fff;
}
.social-media h1 {
  font-size: 4rem;
  color: #fff;
  padding-top: 72px;
  padding-left: 36px;
}

.table {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 36px;
  justify-content: space-between;
}
.top-row {
  width: 40%;
  flex: 100% 0 0;
  border: 5px solid #fff;
}

.top-row p {
  font-size: 1.5rem;
}
.rowspan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #fff;
  padding: 5px;
}
.rowspan-left {
  flex-grow: 1;
  background: #fff;
  color: #000;
}

.rowspan-right {
  margin-left: auto;
  background-color: #000;
}

.rowspan-container .div {
  flex: 1;
}

.rowspan-container a {
  color: lightblue;
  text-decoration: none;
  font-size: 0.9rem;
}

.design-templates {
  background-image: url("access1 (1).png") left top, url("pz.png"),
    url("british_council.png"), url("cocacola.png"), url("etisalat.png"),
    url("first_bank.png"), url("p_g.png"), url("uba.png"), url("adidas-2.png"),
    url("gtb.png"), url("unilever.png"), url("view_more-copy1.png");
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.background-images {
  text-align: center;
}
.background-images h1 {
  font-size: 3rem;
}

.background-images p {
  font-size: 1rem;
}

footer {
  height: 600px;
  background-color: #fff;
}

.top {
  height: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #999;
  margin: auto;
}

.top h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  color: #999;
  margin: auto;
  padding-top: 50px;
}

.bottom img {
  width: 100px;
}

.bottom {
  column-count: 4;
  columns: 250px;
  column-gap: 5em;
}

.footer-image img {
  width: 150px;
}
